:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.filter {
  display: flex;
  align-items: center;
  font-size: 1.25em;
}
a { 
  text-decoration: none;
}

#categoryHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#categoryBtnsS1 {
  display: flex;
  flex-wrap: wrap;
  padding: 12px;
}
#categoryBtnsS2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 6px;
}

#topRow {
  display: flex;
  justify-content: center;
  margin-left: -28px;
}

#AC {
  margin-left: -12px;
}

#activityHeader {
  display: flex;
  justify-content: flex-start;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #242424;
  text-decoration: none;
  background-color: rgba(163, 163, 163, 0.87);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #f2df53;
  color: #f2df53;
}

label {
  font-weight: 500;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #242424;
    background-color: rgba(255, 255, 255, 0.87);
  }
  button:hover {
    color: #f2df53;
  }
  button {
    background-color: rgba(163, 163, 163, 0.87);
  }
}
